/* Media queries css files */
.resp-section {
	padding-right: 15px ;
	padding-left : 15px ;
	margin-right : auto ;
	margin-left : auto ;
}

.resp-grid {
	margin-right : -15px ;
	margin-left : -15px ;
}

.mob-1, .tab-1, .pc-1,
.mob-2, .tab-2, .pc-2,
.mob-3, .tab-3, .pc-3,
.mob-4, .tab-4, .pc-4,
.mob-5, .tab-5, .pc-5,
.mob-6, .tab-6, .pc-6,
.mob-7, .tab-7, .pc-7,
.mob-8, .tab-8, .pc-8,
.mob-9, .tab-9, .pc-9,
.mob-10, .tab-10, .pc-10,
.mob-11, .tab-11, .pc-11,
.mob-12, .tab-12, .pc-12 {
	position : relative ;
	min-height : 1px ;
	}

/* Only mobile version */
@media screen and (max-width: 767px) {

	body,
	#slider,
	.resp-section {
		width : 100% ;
	}

	.mob-1, .mob-2, .mob-3, .mob-4,
	.mob-5, .mob-6, .mob-7, .mob-8,
	.mob-9, .mob-10, .mob-11, .mob-12 {
		float : left ;
	}

	.mob-12 { width : 100%; }
	.mob-11 { width : 91,66666667%; }
	.mob-10 { width : 83,33333333%; }
	.mob-9 { width : 75%; }
	.mob-8 { width : 66,66666667%; }
	.mob-7 { width : 58,33333333%; }
	.mob-6 { width : 58%; }
	.mob-5 { width : 41,66666667%; }
	.mob-4 { width : 33,33333333%; }
	.mob-3 { width : 25%; }
	.mob-2 { width : 16,66666667%; }
	.mob-1 { width : 8,33333333%; }
}

/* Mobile and tablet version */
@media screen and (max-width: 1199px) {
	#logo{
		text-align: center;
		position: relative;
		width: 100%;
		clear: both;
	}
	#logo img{
		width: 150px;
		height: 150px;
		padding: 20px;
	}
	#menu{
		clear: both;
		text-align : center ;
	}
	#menu ul li{
		margin: 0 auto;
	}
}

/* Only tablet version */
@media screen and (min-width: 768px) and (max-width: 1199px) {
	
}

/* Computer and tablet version */
@media screen and (min-width: 768px) {
	.pc-12 { width : 100%; }
	.pc-11 { width : 91,66666667%; }
	.pc-10 { width : 83,33333333%; }
	.pc-9 { width : 75%; }
	.pc-8 { width : 66,66666667%; }
	.pc-7 { width : 58,33333333%; }
	.pc-6 { width : 58%; }
	.pc-5 { width : 41,66666667%; }
	.pc-4 { width : 33,33333333%; }
	.pc-3 { width : 25%; }
	.pc-2 { width : 16,66666667%; }
	.pc-1 { width : 8,33333333%; }
}

/* Only computer version */
@media screen and (min-width: 1200px) {
	.pc-12 { width : 100%; }
	.pc-11 { width : 91,66666667%; }
	.pc-10 { width : 83,33333333%; }
	.pc-9 { width : 75%; }
	.pc-8 { width : 66,66666667%; }
	.pc-7 { width : 58,33333333%; }
	.pc-6 { width : 58%; }
	.pc-5 { width : 41,66666667%; }
	.pc-4 { width : 33,33333333%; }
	.pc-3 { width : 25%; }
	.pc-2 { width : 16,66666667%; }
	.pc-1 { width : 8,33333333%; }
}

/* Print version */
@media print {
	
}